<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <%- include('layouts/links') -%>
</head>
<body>
    <div class="container">
        <%- include('layouts/navigation') -%>
        <div class="app-container-album">
            <div class="error"></div>
            <h1>
                <%= title %>
                <span class="material-icons">
                    delete
                </span>
            </h1>
            <div class="delete-album-modal">
                <p>Delete <%= title %> ?</p>
                <span>
                   <button  data-albumid="<%= album._id %>">Yes</button>   
                   <button>Cancel</button>
                </span>
           </div>
            <form enctype="multipart/form-data">
                <input type="file" name="image" placeholder="Add image"/>
                <button data-albumid="<%= album._id %>">Add image</button>
            </form>
            <div class="album">
                <% for(let i of images){ %>
                    <div class="image-box">
                        <img src="<%= i.src %>" alt="random-image" />
                        <p class="contains-image-title"><%= i.title %></p>
                        <span>
                            <span class="material-icons span-to-display-image-modal" data-url="<%= i.src %>">
                                visibility
                            </span>
                        </span>
                    </div>
                <% } %>
            </div>
        </div>

        <div class="view-image-modal">
            <img src="" alt="random-image" />
        </div>
    </div>
    <%- include('layouts/footer') -%>
    <script src="/js/album.js"></script>
</body>
</html>
