<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <%- include('layouts/links') -%>
</head>
<body>
    <div class="container">
        <%- include('layouts/navigation') -%>
        <div class="app-container-albums">
            <!--
            <p class="error">Error try again</p>
            -->
            <h1>Create or choose album</h1>
            <form>
                <input type="text" name="title" placeholder="Album name"/>
                <button>Create album</button>
                <p class="error">Error try again</p>
            </form>
            <div class="albums">
                <% for(let album of albums) { %>
                    <a href="/albums/<%= album._id %>" class="album-box">
                        <img src="images/folder-flower-blue-icon.png" alt="folder" />
                        <p class="contains-album-title"><%= album.title %></p>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('layouts/footer') -%>
    <script src="js/handlePostAlbum.js"></script>
</body>
</html>